# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\dy_helper\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
